.course-info {
  margin: 20px;
  padding: 20px;
}

.course-info ul {
  list-style-type: square;
  margin-left: 15px;
}

.course-info ul li {
  margin-bottom: 5px;
}

.details p {
  margin: 10px 0;
  padding: 10px 0;
}

.btn {
  background: linear-gradient(135deg, #3498db 0%, #7681b3 100%);
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}
